@model WebAppSchool.Models.CodeFirst.GroupClass

@{
    ViewData["Title"] = "Добавить класс";
}

<h2>Добавить класс</h2>


<div class="row">
    @Html.ValidationSummary(true)
    <div class="col-md-6">
        <form method="post">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Классный руководитель</th>
                    <td>
                        @Html.EditorFor(m => m.ClassRoomTeacher)
                        @Html.ValidationMessageFor(m => m.ClassRoomTeacher)
                    </td>
                </tr>
                <tr>
                    <th>Количество учеников</th>
                    <td>
                        @Html.EditorFor(m => m.NumberStudents)
                        @Html.ValidationMessageFor(m => m.NumberStudents)
                    </td>
                </tr>
                <tr>
                    <th>Буква класса</th>
                    <td>
                        @Html.EditorFor(m => m.Letter)
                        @Html.ValidationMessageFor(m => m.Letter)
                    </td>
                </tr>
                <tr>
                    <th>Год обучения</th>
                    <td>
                        @Html.EditorFor(m => m.YearStudy)
                        @Html.ValidationMessageFor(m => m.YearStudy)
                    </td>
                </tr>
                <tr>
                    <th>Год создания</th>
                    <td>
                        @Html.EditorFor(m => m.YearCreation)
                        @Html.ValidationMessageFor(m => m.YearCreation)
                    </td>
                </tr>
            </table>
            <input type="submit" value="Добавить" />
        </form>
    </div>
</div>



