@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<WebAppSchool.Models.CodeFirst.GroupClass>
@{
    ViewData["Title"] = "Список классов";
}

<h2>Список классов</h2>

<div>
    @Html.ActionLink("Добавить класс", "Create")
    @Html.ActionLink("Список классов", "Index")
</div>

<div>
    <form>
        <p>
            ФИО классного руководителя
            <input type="text" name="searchTeacher" value="@ViewData["searchTeacher"]" />
            Год оздания
            <input type="text" name="searchYearCreation" value="@ViewData["searchYearCreation"]" />
            <input type="submit" value="Фильтровать" />
        </p>
    </form>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>Классный руководитель</th>
                <th>Количество студентов</th>
                <th>Буква</th>
                <th>Год обучения</th>
                <th>Год создания</th>
                <th colspan="2"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ClassRoomTeacher</td>
                    <td>@item.NumberStudents</td>
                    <td>@item.Letter</td>
                    <td>@item.YearStudy</td>
                    <td>@item.YearCreation</td>
                    <td>@Html.ActionLink("Редактировать", "Edit", new { item.Id })</td>
                    <td>@Html.ActionLink("Удалить", "Delete", new { item.Id }, new { onclick = "return confirm('Удалить?')" })</td>
                </tr>
            }
        </table>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page = page,
    searchTeacher = ViewData["searchTeacher"],
    searchYearCreation = ViewData["searchYearCreation"],
}))
