@model IEnumerable<WebAppSchool.Models.CodeFirst.Subject>
@{
    ViewData["Title"] = "Список предметов";
}

<h2>Список предметов</h2>
<div>
    @Html.ActionLink("Добавить предмет", "Create")
    @Html.ActionLink("Список предметов", "Index")
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>Название предмета</th>
                <th>Описание</th>
                <th colspan="2"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.TitleSubject</td>
                    <td>@item.Description</td>
                    <td>@Html.ActionLink("Редактировать", "Edit", new { item.Id })</td>
                    <td>@Html.ActionLink("Удалить", "Delete", new { item.Id })</td>
                </tr>
            }
        </table>
    </div>
</div>

