@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<WebAppSchool.Models.CodeFirst.Subject>
@{
    ViewData["Title"] = "Список предметов";
}

<h2>Список предметов</h2>
<div>
    @Html.ActionLink("Добавить предмет", "Create")
    @Html.ActionLink("Список предметов", "Index")
</div>

<div>
    <form>
        <p>
            Название предмета
            <input type="text" name="searchTitle" value="@ViewData["searchTitle"]" />
            <input type="submit" value="Филтровать" />
        </p>
    </form>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>Название предмета</th>
                <th>Описание</th>
                <th colspan="2"></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.TitleSubject</td>
                    <td>@item.Description</td>
                    <td>@Html.ActionLink("Редактировать", "Edit", new { item.Id })</td>
                    <td>@Html.ActionLink("Удалить", "Delete", new { item.Id }, new { onclick = "return confirm('Удалить?')" })</td>
                </tr>
            }
        </table>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page = page,
    searchTitle = ViewData["searchTitle"]
}))
