@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<WebAppSchool.Models.CodeFirst.Position>
@{
    ViewData["Title"] = "Список должностей";
}

<h2>Список должностей</h2>
<div>
    @Html.ActionLink("Добавить должность", "Create")
    @Html.ActionLink("Список должностей", "Delete")
</div>

<div>
    <form>
        <p>
            Название должности
            <input type="text" name="searchPosition" value="@ViewData["searchPosition"]" />
            <input type="submit" value="Фильтровать" />
        </p>
    </form>
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>Название должности</th>
                <th>Оклад</th>
                <th>Требования</th>
                <th>Обязанности</th>
                <th colspan="2">Функции</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.TitlePosition</td>
                    <td>@item.Salary</td>
                    <td>@item.Responsibilities</td>
                    <td>@item.Requirements</td>
                    <td>@Html.ActionLink("Редактировать", "Edit", new { item.Id })</td>
                    <td>@Html.ActionLink("Удалить", "Delete", new { item.Id }, new { onclick = "return confirm('Удалить?')" })</td>
                </tr>
            }
        </table>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page = page,
    searchPosition = ViewData["searchPosition"]
}))